body {
  margin: 0;
  background: #222;
  font-family: system-ui, -apple-system;
  display: grid;
  place-content: center;
  min-height: 100vh;

}

.app {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: #fff 1px solid;
  border-radius: 20px;
  padding: 16px;

}
